<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      function about() {
        alert("Hello World!");
      }
    </script>
  </head>
  <body>
    <h3>Hello</h3>
    <h1><a href="rails/info/properties" onclick = "about()">Home</a></h1>
  </body>
</html>

