<!DOCTYPE html>
<html>
  <head>
    <title> First Task - Amy </title>
    <style type="text/css" media="screen">
      body {
       background-color:#d0e4fe;
      }
      #content {
        float: center;
        background-color: white;
        border: 10px solid #aaa;
        margin-top : 200px;
        margin-left: 320px;
        margin-right: 320px;
        height : 200px ;
      }
      #icon {
        float: center;
        background-color: white;
        margin-top : 10px;
        margin-left: 10px;
      }
      #user-pass {
        float: center;
        background-color: white;
        margin-top : 10px;
        margin-left: 60px;
      }
      #sumit {
        float: center;
        background-color: white;
        margin-top : 10px;
        margin-left : 120px;
      }
      #text {
        float: center;
        background-color: white;
        weight : 100px;
      }
    </style>
    <script>
      function myFunction()
      {
        var f = document.getElementById("fname").value;
        var l = document.getElementById("lname").value;
        
      }
    </script>
  </head>
  <body>
    <div id="content">
      <div id="icon">
       <img src="assets/tada-mark-small.gif" alt="icon" width="50" height="50">
      </div>
      <div id="user-pass">
        <form action="demo_form.asp">
          Username : <input id="fname" type="text" name="fname"></br>
          Password : <input id="lname" type="text" name="lname">(<a href="/">forgot password?</a>)<br/>
          <div id="sumit">
            <button href="/" onclick= "myFunction()">Sumit</button>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>

